.show-title {
  height: 100px;
  padding: 0px 20px;
  border-bottom: 2px solid #62E8A8;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

#index-title {
  height: 130px;
  padding: 20px;
  align-items: center;
  border-bottom: 2px solid #62E8A8;
  h1 {
    margin-top: 0px;
  }
}

.filters-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 20px 20px;
  h3 {
    margin: 0;
    font-size: 16px;
    border-bottom: 2px solid #62E8A8;
  }
}

#search-by {
  align-items: center;
  justify-content: space-around;
  label {
    font-size: 16px;
    margin: 0;
    padding-left: 20px;
  }
}

.results {
  margin: 0;
  width: 100%;
  padding: 0;
  display: flex;
}

.cards-container {
  padding: 10px;
  margin: 0;
  flex: 0 0 calc(100% - 450px);
}

#map {
  position: sticky !important;
  top: 0;
  flex: 0 0 450px;
}

#title-and-avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#details-booking {
  padding: 20px;
}

#show-picture {
  margin-left: 30px;
  margin-top: 10px;
}

#show-details {
  position: absolute;
  top: 250px;
  right: 20px;
  margin: 30px;
  width: 50%;
  p {
    font-weight: lighter;
    font-size: 16px;
  }
  h3 {
    margin: 0;
    border-bottom: 2px solid #62E8A8;
    margin-bottom: 20px;
  }
}

#booking-form {
  margin: 50px;
  border: 2px solid #62E8A8;
  background: white;
  border-radius: 5px;
  padding: 50px;
  color: #62E8A8;
  box-shadow: 1px 0px 5px -1px rgba(0,0,0,0.75);
  h3 {
    margin: 0;
    text-align: center;
    border-bottom: 2px solid #62E8A8;
    margin-bottom: 30px;
  }
  p {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

#new_booking {
  text-align: center;
  input {
    text-align: center;
    margin-bottom: 10px;
  }
}

#total-price {
  p {
  border: 1px solid #62E8A8;
  color: black;
  padding: 5px 15px;
  margin-top: 30px;
  font-size: 20px;
}
}

.grey-text {
  opacity: 0.8;
  font-size: 12px;
  font-style: italic;
}

.new-form {
  margin-bottom: 70px;
  h1 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    border-bottom: 2px solid #62E8A8;
    margin: 40px;
    input {
      align-items: center;
    }
  }
}

