.title {
  color:#62E8A8;
  font-family: "Futura";
}

.link {
  text-decoration: none;
  font-family: "Futura";
  color: black;
}

.link a {
  color: black;
}

.link a:hover {
  text-decoration: none;
}
